<%- include("../partials/header.ejs",{page:"myarticles"}); %>
    <%- include("../partials/slide_bar.ejs",{page:"myarticles"}); %>
    

        <div id="navbar-wrapper">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </nav>
        </div>


        <section id="content-wrapper">
            <div class="container">

                <div class="row">
                    <% for( let i = 0; i < articles.length; i++ ) { %>
                        <div class="col-12 col-sm-8 col-md-6 col-lg-4 mt-2">
                            <div class="card">
                                <img class="card-img"
                                    src="/images/covers/<%= articles[i].cover %>"
                                    alt="">
                                <div class="card-body">
                                    <h4 class="card-title"><%= articles[i].title %></h4>
                                    
                                        <i class="fa fa-user text-info"></i><%= articles[i].author.username %>
                                 
                                    <p class="card-text mt-2"><%- articles[i].content.trim().substr(0,50) %>...</p>
                                    <a href="/article/edit/<%= articles[i]._id %> " class="btn btn-info">Edit</a>
                                </div>
                                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-1">
                                    <div class="views"><%= articles[i].createdAt.getFullYear() %>/<%= articles[i].createdAt.getMonth() %>/<%= articles[i].createdAt.getDate() %> at
                                        <%= articles[i].createdAt.getHours() %>:<%= articles[i].createdAt.getMinutes() %>:<%= articles[i].createdAt.getSeconds() %>     
                                    </div>
                                    <div class="stats">
                                        <i class="fa fa-eye"></i> 1347
                                        <i class="fa fa-comment"></i> 12
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    <% } %>
                   
                </div>
            </div>
        </section>

        </div>

        <script src="/javascripts/myarticles.js"></script>
        </body>

        </html>